<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>NFL Leaderboard</title>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
 <h1>NFL Leaderboard</h1>
 <ol><% each do |team| %>
  <li><%= team %></li>
 </ol>
</body>
