<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>NFL Leaderboard</title>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
 <h1>NFL Leaderboard</h1>
 <ol><% @leaderboard.each do |team| %>
  <li><%= puts "#{team.to_s} with #{team[:win].to_s} wins and #{team[:loss].to_s}" %></li>
 </ol>
</body>
