<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>NFL Leaderboard</title>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
 <h1>NFL Leaderboard</h1>

 <ol>
   <% @leaderboard2.each do |team| %>
     <li><%= "#{team[:name]}, Wins: #{team[:wins]}, Losses: #{team[:losses]}" %></li>
  <% end %>
 </ol>
</body>
